<html>

<head>
	<link rel="stylesheet" type="text/css" href="/static/css/gin.css" />
	<link rel="stylesheet" type="text/css" href="/static/bootstrap3/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="/static/bootstrap3/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>Джин</title>
</head>

<body>
	<div class="wrapper">
		<div class="header">
				<div class="title">Джин</div>
				<div class="menu">
					
				</div>
		</div>

		<div class="query">
			<textarea class="form-control" rows="4" placeholder="Введите запрос" maxlength="255" style="resize: none"></textarea>
			<button type="button" class="btn btn-info">Отправить</button>
		</div>

		<div class="history-title">История</div>

		<div class="history">
			<div class="mem bg-info"><div class="data">03.03.2015</div> <div class="event">Поездка в Турцию</div></div>
			<div class="mem"><div class="data">28.02.2015</div> <div class="event">Покупка кота</div></div>
			<div class="mem"><div class="data">25.02.2015</div> <div class="event">Что подарить на День рождения папе? Гитару или обруч? И где лучше покупать?</div></div>
		</div>
	</div>
</body>

</html>