{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="ground__title offset1">
                Часто задаваемые вопросы
            </div>

            <div>
                <div class="ground__q__title">Вопрос: </div>
                <div class="ground__q__text">Чему равно пи?</div>
            </div>

            <div>
                <div class="ground__a__title">Ответ: </div>
                <div class="ground__a__text">Пи равно 3,14159265</div>
            </div>
        </div>
    </div>
{% endblock %}