{% extends "base.html" %}

{% block content %}

    <div class="row-fluid">
        <div class="ground__title">
            <div class="span10 offset1">
                Исторические события
            </div>
        </div>
    </div>

    <div class="row-fluid history">
        <div class="span4">
            <div class="history__open">
                 <a class="ground__history__elems__prototype" style="text-decoration: none; display: block;">
                    <div class="ground__history__elems__i info">
                        <div class="ground__history__elems__i__date">22.10.15</div>
                        <div class="ground__history__elems__i__event">Открытое задание.</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="history__open">
                <a class="ground__history__elems__prototype" style="text-decoration: none; display: block;">
                    <div class="ground__history__elems__i info">
                        <div class="ground__history__elems__i__date">10.10.15</div>
                        <div class="ground__history__elems__i__event">Ещё одно открытое задание!</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="history__open">
                <a class="ground__history__elems__prototype" style="text-decoration: none; display: block;">
                    <div class="ground__history__elems__i info">
                        <div class="ground__history__elems__i__date">2.10.15</div>
                        <div class="ground__history__elems__i__event">Помой уже кота, пожаааалуйста</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row-fluid history">
        <div class="span4">
            <div class="history__open">
                <a class="ground__history__elems__prototype" style="text-decoration: none; display: block;">
                    <div class="ground__history__elems__i info">
                        <div class="ground__history__elems__i__date">1.10.15</div>
                        <div class="ground__history__elems__i__event">Немытый кот, грязный немытый кот, срочно помыть</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="history__close">
                <a class="ground__history__elems__prototype" style="text-decoration: none; display: block;">
                    <div class="ground__history__elems__i info">
                        <div class="ground__history__elems__i__date">2.08.15</div>
                        <div class="ground__history__elems__i__event">Закрытое задание.Когда-то давно ты всё-таки помыл кота.</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="history__close">
                <a class="ground__history__elems__prototype" style="text-decoration: none; display: block;">
                    <div class="ground__history__elems__i info">
                        <div class="ground__history__elems__i__date">1.10.15</div>
                        <div class="ground__history__elems__i__event">Помой кота!!!!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}