@charset "utf-8";

* 
{
    box-sizing: border-box; /* Для IE и Opera */
	font-family: Arial;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
}

body
{
    padding-top: 100px;
}

/*---------------------------------------------------------------------HEADER BEGIN-----------------------------------------------------------*/

.header__elem__current
{
    text-decoration: underline !important;
}

.b-link
{
    color: black !important;
}

a.b-link:hover
{
    color: #002a80 !important;
}

.bb-link
{
    color: black !important;
    font-size: x-large !important;
}

.brand
{
    padding: 25px 15px !important;
}

.navbar-right
{
    float: right !important;
    margin-right: -15px !important;
}

.nav-btns .btn-primary
{
    bottom: 5px !important;
    width: 160px;
}

.nav-btns
{
    padding-top: 5px !important;
}

ul.nav
{
    padding-top: 15px;
}


/*---------------------------------------------------------------------HEADER END-----------------------------------------------------------*/

/*---------------------------------------------------------------------HELL0 BEGIN-----------------------------------------------------------*/

.hello
{
	top: 80px;
	position: absolute;
}

/*---------------------------------------------------------------------HELL0 END-----------------------------------------------------------*/

/*---------------------------------------------------------------------FORMS BEGIN-----------------------------------------------------------*/

.signin-modal, .signup-modal
{
    top: 150px !important;
}

.signup-modal .modal-body, .signin-modal .modal-body
{
    padding: 40px;
}

.modal-header
{
	height: 50px !important;
	border-bottom: 0px !important;
}

.warning-msg
{
	text-align: center;
}

.signin-modal .form_submit_button
{
    left: 200px;
    position: relative;
    top: 15px;
}

.signin-modal .href-restore
{
    left: 165px;
    position: relative;
    top: 5px;
}

.signin-modal .href-signin
{
    left: 220px;
    position: relative;
    top: 5px;
}

.signup-modal .form_submit_button
{
    left: 160px;
    position: relative;
}

.form_error
{
    color: red;
}

.money-btn
{
    background-color: #245269;
}

.signin-modal .form_error, .signup-modal .form_error
{
    float: right;
}

/*---------------------------------------------------------------------FORMS END-----------------------------------------------------------*/

/*---------------------------------------------------------------------GROUND!!!-----------------------------------------------------------*/

.ground
{
	height: 100%;
	position: absolute;
	top: 80px;
	width: 100%;
}

/*---------------------------------------------------------------------GROUND!!!-----------------------------------------------------------*/

/*---------------------------------------------------------------------MAIN_USER->QUERY BEGIN-----------------------------------------------------------*/

.ground__query
{
    padding-left: 25px !important;
	top: 80px;
}

.ground__query .form-control
{
    height: 150px;
    resize: none;
	width: 700px;
}

.ground__query .btn-info
{
	position: absolute;
    top: 200px;
	width: 700px;
}

.ground__query .form_error
{
    left: 33%;
    top: 15px;
}

.ground__query .form-group
{
    margin: 0 !important;
}

/*---------------------------------------------------------------------MAIN_USER->QUERY END-----------------------------------------------------------*/

/*---------------------------------------------------------------------MAIN_USER->HISTORY BEGIN-----------------------------------------------------------*/

.ground__history
{
	border-left: 1px solid blue;
    min-height: 300px !important;
}

.ground__history__title
{
	font-size: x-large;
	font-weight: bold;
    position: relative;
	text-align: center;
    white-space: nowrap;
}

.ground__history__title__close
{
    padding-left: 25px;
    display: inline-block;
}

.ground__history__title__open
{
    padding-right: 25px;
    display: inline-block;
}

.ground__history__title__open__link
{
    cursor: pointer;
}

.ground__history__elems__close
{
    display: none;
}

.ground__history__elems
{
    position: relative;
    top: 30px;
}

.ground__history .ground__history__elems__i__date
{
    color: #b4cdcd;
	font-size: smaller;
	margin-left: 340px;
    position: relative;
    top: 5px;
}

.ground__history .ground__history__elems__i:hover > .ground__history__elems__i__date
{
    color: #737373;
}

.ground__history .ground__history__elems__i
{
	border: 1px solid #b0e2ff;
	border-radius: 10px;
	margin: 5px;
	padding-bottom: 17px;
}

.ground__history .ground__history__elems__i__event
{
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
    word-break: break-all;
}

/*---------------------------------------------------------------------MAIN_USER->HISTORY END-----------------------------------------------------------*/

/*---------------------------------------------------------------------DIALOGUE BEGIN-----------------------------------------------------------*/

.ground__dialog
{
    height: 100%;
    padding: 5px;
	position: absolute;
	width: 800px;
}

.ground__dialog__msgbefore
{
	text-align: center;
	top: 2px;
}

.ground__dialog__msgs
{
	margin-bottom: 10%;
	position: relative;
	top: 40px;
}

.dialog__msgleft, .dialog__msgright
{
	border: 2px solid #cccccc;
	border-radius: 10px;
	margin-bottom: 3%;
	padding: 10px;
    padding-bottom: 5px !important;
	position: relative;
	width: 47%;
    word-break: break-all;
}

.dialog__msgleft
{

}

.dialog__msgright
{
	left: 53%;
}

.ground__dialog__msgs__info
{
	color: #999999;
	font-size: smaller;
	position: relative;
    text-align: right;
	white-space: nowrap;
}

.ground__dialog__msgs__info__autor, .ground__dialog__msgs__info__time
{
	display: inline;
}

.ground__dialog__input
{
	border: 1px solid #ccccdd;
	background-color: #e6e6fa;
	height: 12%;
	padding: 1%;
    padding-left: 2%;
	position: fixed;
	top: 88%;
	width: 100%;
}

.ground__dialog__input .ground__dialog__input__add-msg-form__txtarea
{
    height: 40px;
    position: relative;
    resize: none;
    width: 60%;
}

.ground__dialog__input .form_submit_button
{
    left: 61%;
    position: fixed;
    top: 91.3%;
}

.ground__dialog__input .btn-price, .ground__dialog__input .btn-pay
{
    left: 80%;
    position: fixed;
    top: 91.3%;
}

.ground__dialog__input .task-pag
{
    left: 70%;
    position: fixed;
    bottom: 4%;
}

/*---------------------------------------------------------------------DIALOGUE END-----------------------------------------------------------*/

/*---------------------------------------------------------------------OPERATOR BEGIN-----------------------------------------------------------*/

.ground__profile
{
    background-color: #d6e9c6;
    font-size: large;
    font-weight: bold;
    left: 10px;
    min-height: 200px;
    position: relative;
    text-align: center;
    width: 770px;
}

.ground__history-block
{
    position: relative;
}

.ground__history-block .ground__history
{
    position: relative !important;
    top: -180px;
}

.ground__history-block__take-task-btn
{
    left: 55%;
    position: relative;
    text-align: center;
    top: -200px;
    width: 50%;
}

.ground__history-block__take-task-btn .form_submit_button
{
    width: 59.5%;
}

/*---------------------------------------------------------------------OPERATOR END-----------------------------------------------------------*/

/*---------------------------------------------------------------------ADMIN BEGIN-----------------------------------------------------------*/

.ground__title
{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.new-operator-btn
{
    position: relative  ;
    text-align: center;
    top: 150px;
}

/*---------------------------------------------------------------------ADMIN END-----------------------------------------------------------*/

/*---------------------------------------------------------------------FAQ BEGIN-----------------------------------------------------------*/

.ground__faq
{
    height: 100%;
    padding: 2% 5%;
    position: relative;
    top: 10px;
}

.ground__faq__q__title
{
    font-size: 15pt;
    color: #ff910a;
    display: inline;
}

.ground__faq__a__title
{
    font-size: 15pt;
    color: #7784e6;
    display: inline;
}

.ground__faq__q__text
{
    font-size: 12pt;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}

.ground__faq__a__text
{
    font-size: 12pt;
    font-weight: bold;
    display: inline;
    margin-left: 22px;
}

/*---------------------------------------------------------------------FAQ END-----------------------------------------------------------*/