@charset "utf-8";

* 
{
    box-sizing: border-box; /* Для IE и Opera */
	font-family: Arial;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
}

/*---------------------------------------------------------------------HEADER BEGIN-----------------------------------------------------------*/

.header
{
	background: linear-gradient(to top, #000000, #999999);
	color: #ffffff;
	font-size: large;
	font-weight: bold;
	height: 70px; /*visota*/
	margin: auto;
	position: absolute;
	width: 100%;
	z-index: 1040;
}

.header a:hover
{
    color: #ffffff;
    text-decoration: none;
}

.header__title
{
    color: #ffffff;
    font-size: 25px;
    margin-left: 30px;
	margin-top: 15px;
	position: absolute;
	width: 350px;
	z-index: 1040;
}

.header__menu
{
    font-size: 25px;
	margin-left: 350px;
	margin-top: 15px;
	position: absolute;
	z-index: 1040;
}

.header, .header__title, .header__menu
{
	position: fixed !important;
}

.header__menu__faq, .header__title__href
{
    color: white;
    text-decoration: none;
}

.header__menu__faq
{
    left: 850px;
    position: relative;
}

/*---------------------------------------------------------------------HEADER END-----------------------------------------------------------*/

/*---------------------------------------------------------------------HELL0 BEGIN-----------------------------------------------------------*/

.hello
{
	height: 250px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
	position: absolute;
	top: 90px;
	width: 80%;
}

.hello__text
{
	height: 250px;
	position: absolute;
	width: 60%;
}

.hello__btns
{
    border-left: 1px solid blue;
	left: 61%;
	height: 300px;
	position: absolute;
	text-align: center;
	width: 40%;
}

.signin-window .btn-primary, .signup-window .btn-primary
{
	text-align: center;
	width: 200px;
}

.signin-window, .signup-window
{
	left: 30%;
	position: absolute;
}

.hello__btns__signin-btn
{
    position: relative;
	top: 100px;
}

.hello__btns__signup-btn
{
    position: relative;
	top: 130px;
}

/*---------------------------------------------------------------------HELL0 END-----------------------------------------------------------*/

/*---------------------------------------------------------------------FORMS BEGIN-----------------------------------------------------------*/

.modal-header
{
	height: 50px !important;
	border-bottom: 0px !important;
}

.modal-content
{
	top: 200px !important;
}

.warning-msg
{
	text-align: center;
}

.col-sm-offset-2, .col-sm-10
{
    text-align: right !important;
}

/*---------------------------------------------------------------------FORMS END-----------------------------------------------------------*/

/*---------------------------------------------------------------------GROUND!!!-----------------------------------------------------------*/

.ground
{
	height: 100%;
	position: absolute;
	top: 80px;
	width: 100%;
}

/*---------------------------------------------------------------------GROUND!!!-----------------------------------------------------------*/

/*---------------------------------------------------------------------MAIN_USER->QUERY BEGIN-----------------------------------------------------------*/

.ground__query
{
	position: absolute;
	top: 10px;
	width: 700px;
}

.ground__query .form-control
{
    height: 150px;
    left: 2%;
    position: relative;
    resize: none;
	width: 700px;
}

.ground__query .form_submit_button
{
    left: 20%;
    top: 10px;
    position: relative;
}

.create__task__msg
{
    font-size: large;
    position: absolute;
    text-align: center;
    top: 170px;
    width: 700px;
}

/*---------------------------------------------------------------------MAIN_USER->QUERY END-----------------------------------------------------------*/

/*---------------------------------------------------------------------MAIN_USER->HISTORY BEGIN-----------------------------------------------------------*/
.ground__history
{
	border-left: 1px solid blue;
    min-height: 500px;
	left: 800px;
	padding-left: 30px;
	position: fixed;
	top: 80px;
	width: 450px;
}

.ground__history__title
{
	font-size: x-large;
	font-weight: bold;
    position: relative;
	text-align: center;
	top: 15px;
    white-space: nowrap;
}

.ground__history__title__close
{
    padding-left: 25px;
    display: inline-block;
}

.ground__history__title__open
{
    padding-right: 25px;
    display: inline-block;
}

.ground__history__title__open__link
{
    cursor: pointer;
}

.ground__history__elems__close
{
    display: none;
}

.ground__history__elems
{
    position: relative;
    top: 30px;
}

.ground__query .btn-info
{
	margin-top: 10px;
	position: absolute;
	width: 700px;
}

.ground__history .ground__history__elems__open__prototype__elem__date
{
    color: #b4cdcd;
	font-size: smaller;
	margin-left: 340px;
    position: relative;
    top: 5px;
}

.ground__history .ground__history__elems__open__prototype__elem:hover > .ground__history__elems__open__prototype__elem__date
{
    color: #737373;
}

.ground__history .ground__history__elems__open__prototype__elem
{
	border: 1px solid #b0e2ff;
	border-radius: 10px;
	margin: 5px;
	padding-bottom: 17px;
}

.ground__history .ground__history__elems__open__prototype__elem__event
{
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

/*---------------------------------------------------------------------MAIN_USER->HISTORY END-----------------------------------------------------------*/

/*---------------------------------------------------------------------DIALOGUE BEGIN-----------------------------------------------------------*/

.ground__dialog
{
    height: 100%;
    padding: 5px;
	position: absolute;
	width: 800px;
}

.ground__dialog__msgbefore
{
	text-align: center;
	top: 2px;
}

.ground__dialog__msgs
{
	margin-bottom: 10%;
	position: relative;
	top: 40px;
}

.dialog__msgleft, .dialog__msgright
{
	border: 2px solid #cccccc;
	border-radius: 10px;
	margin-bottom: 3%;
	padding: 10px;
    padding-bottom: 5px !important;
	position: relative;
	width: 47%;
}

.dialog__msgleft
{

}

.dialog__msgright
{
	left: 53%;
}

.ground__msgs__prototype__info
{
	color: #999999;
	font-size: smaller;
	position: relative;
    text-align: right;
	white-space: nowrap;
}

.ground__msgs__prototype__info__autor, .ground__msgs__prototype__info__time
{
	display: inline;
}

.ground__dialog__input
{
	border: 1px solid #ccccdd;
	background-color: #e6e6fa;
	height: 12%;
	padding: 1%;
	position: fixed;
	top: 88%;
	width: 100%;
}

/*.ground__dialog__input .form-control
{
    left: 20%;
	position: fixed;
	resize: none;
	top: 90%;
	width: 45%;
	z-index: 1040;
}*/

.ground__dialog__input .btn-info
{
	position: fixed;
	left: 67%;
    top: 91.8%;
	width: 10%;
	z-index: 1040;
}

/*.ground__dialog__input .btn-warning
{
    left: 8%;
    position: fixed;
    top: 91.8%;
    width: 10%;
}*/

.ground__dialog__input .ground__dialog__input__add-msg-form__txtarea
{
    height: 40px;
    resize: none;
    width: 60%;
}

.ground__dialog__input .form_submit_button
{
    top: 91.8%;
    left: 800px;
    position: fixed;
}

.ground__dialog__input .btn-price
{
    top: 91.3%;
    left: 1100px;
    position: fixed;
}

/*---------------------------------------------------------------------DIALOGUE END-----------------------------------------------------------*/

/*---------------------------------------------------------------------OPERATOR BEGIN-----------------------------------------------------------*/

.profile
{
    background-color: #d6e9c6;
    font-size: large;
    font-weight: bold;
    min-height: 300px;
    text-align: center;
    width: 700px;
}

.get-task-btn
{
    left: 920px;
    position: absolute;
    text-align: center;
    top: -40px;
}

.ground__history-block
{
    position: absolute;
    top: 50px;
}

/*---------------------------------------------------------------------OPERATOR END-----------------------------------------------------------*/

/*---------------------------------------------------------------------ADMIN BEGIN-----------------------------------------------------------*/

.admin__title
{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.new-operator-btn
{
    position: relative  ;
    text-align: center;
    top: 150px;
}

/*---------------------------------------------------------------------ADMIN END-----------------------------------------------------------*/

/*---------------------------------------------------------------------FAQ BEGIN-----------------------------------------------------------*/

.ground__faq
{
    height: 100%;
    padding: 10%;
    position: relative;
    top: 100px;
}

/*---------------------------------------------------------------------FAQ END-----------------------------------------------------------*/
