@charset "utf-8";

* 
{
    box-sizing: border-box; /* Для IE и Opera */
	font-family: Arial;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome*/
}

body
{
    padding-top: 100px;
    /*background-image: url("/static/pics/background04.png");*/
}

.layer-background
{

}

/*---------------------------------------------------------------------HEADER BEGIN-----------------------------------------------------------*/

.header__elem__current
{
    text-decoration: underline !important;
}

.b-link
{
    color: black !important;
}

a.b-link:hover
{
    color: #002a80 !important;
}

.bb-link
{
    color: black !important;
    font-size: x-large !important;
}

.brand
{
    padding: 25px 15px !important;
}

.navbar-right
{
    float: right !important;
    margin-right: -15px !important;
}

.nav-btns .btn-primary
{
    bottom: 5px !important;
    width: 160px;
}

.nav-btns
{
    padding-top: 5px !important;
}

ul.nav
{
    padding-top: 15px;
}


/*---------------------------------------------------------------------HEADER END-----------------------------------------------------------*/

/*---------------------------------------------------------------------HELL0 BEGIN-----------------------------------------------------------*/

.hello-text
{
    background-color: white;
    border-radius: 20px;
    min-height: 300px;
    padding: 2%;
}

/*---------------------------------------------------------------------HELL0 END-----------------------------------------------------------*/

/*---------------------------------------------------------------------FORMS BEGIN-----------------------------------------------------------*/

.signin-modal, .signup-modal, .price-modal, .newoperator-modal
{
    top: 25% !important;
}

#subsystems_user_forms_SigninForm .control-group, #subsystems_user_forms_SignupForm .control-group
{
    margin-left: -50px !important;
}

#subsystems_user_forms_SigninForm .modal-body, .signup-modal .modal-body
{
    padding: 40px;
}

.modal-header
{
	height: 50px !important;
	border-bottom: 0 !important;
}

.warning-msg
{
	text-align: center;
}

#subsystems_user_forms_SigninForm .form_submit_button
{
    left: 200px;
    position: relative;
    top: 15px;
}

#subsystems_user_forms_RestorePasswordForm .btn-restore
{
    left: 180px;
    position: relative;
}

.signin-modal .href-restore
{
    left: 165px;
    position: relative;
    top: 5px;
}

.signin-modal .href-signin
{
    left: 220px;
    position: relative;
    top: 5px;
}

#subsystems_user_forms_SignupForm .form_submit_button
{
    left: 160px;
    position: relative;
}

.form_error
{
    color: red;
}

.money-btn
{
    background-color: #245269;
}

#subsystems_user_forms_SigninForm .form_error_center, #subsystems_user_forms_SignupForm .form_error_center
{
    text-align: center !important;
}

#subsystems_user_forms_SigninForm .form_error, #subsystems_user_forms_SignupForm .form_error
{

}

input
{
    min-height: 25px !important;
}

#subsystems_task_forms_SetPriceForm .set-price-btn
{
    left: 180px !important;
    position: relative;
}

.newoperator-modal .btn
{
    left: 170px;
    position: relative;
    text-align: center;
}

/*---------------------------------------------------------------------FORMS END-----------------------------------------------------------*/

/*---------------------------------------------------------------------MAIN_USER->QUERY BEGIN-----------------------------------------------------------*/

.ground__query
{
    padding-left: 25px !important;
	top: 80px;
}

#subsystems_task_forms_CreateTaskForm .control-label
{
    display: none;
}

#subsystems_task_forms_CreateTaskForm .controls
{
    margin-left: 0 !important;
}

.ground__query .form-control
{
    height: 150px;
    resize: none    ;
	width: 100%;
}

.ground__query .btn-info
{
    margin-top: 30px;
	width: 100%;
}

#subsystems_task_forms_CreateTaskForm .form_error
{
    text-align: center;
}

#subsystems_task_forms_CreateTaskForm .form-group
{
    margin-left: 0 !important;
}

#subsystems_task_forms_CreateTaskForm .control-group
{
    margin-bottom: 0 !important;
}

/*---------------------------------------------------------------------MAIN_USER->QUERY END-----------------------------------------------------------*/

/*---------------------------------------------------------------------MAIN_USER->HISTORY BEGIN-----------------------------------------------------------*/

.ground__history
{
	border-left: 1px solid blue;
    min-height: 300px !important;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    width: inherit;
}

.ground__history__title
{
	font-size: x-large;
	font-weight: bold;
	text-align: center;
    white-space: nowrap;
    word-spacing: 25px;
}

.ground__history__title__close
{
    display: inline-block;
}

.ground__history__title__open
{
    display: inline-block;
}

.ground__history__title__open__link
{
    cursor: pointer;
}

.ground__history__elems__close
{
    display: none;
}

.ground__history__elems
{
    position: relative;
    text-align: center;
    top: 30px;
}

.history .ground__history__elems__i__date
{
    color: #b4cdcd;
	font-size: smaller;
	margin-left: 80%;
    position: relative;
    top: 5px;
}

.history .ground__history__elems__i:hover > .ground__history__elems__i__date
{
    color: #737373;
}

.history .ground__history__elems__i
{
	border: 1px solid #b0e2ff;
	border-radius: 10px;
	margin: 5px;
	padding-bottom: 17px;
}

.history .ground__history__elems__i__event
{
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
    word-break: break-all;
}

/*---------------------------------------------------------------------MAIN_USER->HISTORY END-----------------------------------------------------------*/

/*---------------------------------------------------------------------DIALOGUE BEGIN-----------------------------------------------------------*/

.ground__dialog
{
    height: 100%;
	width: 100%;
}

.ground__dialog__msgbefore
{
	text-align: center;
	top: 2px;
}

.ground__task__messages
{
	margin-bottom: 12%;
	position: relative;
	top: 40px;
    width: 100%;
}

@-moz-document url-prefix()
{
    .ground__task__messages
    {
        margin-bottom: 18%;
    }
}

.dialog__msgleft, .dialog__msgright
{
	border: 2px solid #cccccc;
	border-radius: 10px;
	margin-bottom: 3%;
	padding: 10px;
    padding-bottom: 5px !important;
	position: relative;
	width: 45%;
    word-break: break-all;
}

.dialog__msgleft
{

}

.dialog__msgright
{
	left: 53%;
}

.ground__task__messages__info
{
	color: #999999;
	font-size: smaller;
	position: relative;
    text-align: right;
	white-space: nowrap;
}

.ground__task__messages__info__autor, .ground__task__messages__info__time
{
	display: inline;
}

.ground__dialog__input
{
	border: 1px solid #ccccdd;
	background-color: #e6e6fa;
	/*height: 12%;*/
	padding: 1%;
	position: fixed;
	top: 88%;
	width: 100%;
}

#subsystems_task_forms_CreateTaskMessageForm .control-label
{
    display: none;
}

#subsystems_task_forms_CreateTaskMessageForm .controls
{
    margin-left: 0 !important;
}

#subsystems_task_forms_CreateTaskMessageForm .ground__dialog__input__add-msg-form__txtarea
{
    resize: none;
}

textarea.ground__dialog__input__add-msg-form__txtarea
{
    height: 5% !important;
    min-height: 5% !important;
    width: 100% !important;
}

#subsystems_task_forms_CreateTaskMessageForm .form_submit_button
{
    margin-top: 15%;
    min-width: 100px;
}

.ground__dialog__input .btn-price, .ground__dialog__input .btn-pay
{
    margin-top: 15%;
}

.btn-price .btn, .btn-pay
{
    width: 150px;
}

.span9 + .control-group
{
    display: none;
}

.btn-price .btn, .btn-pay .btn
{
    background-color: #dcdaa1 !important;
    background-image: none;
}

.btn-price .btn:hover, .btn-pay .btn:hover
{
    background-color: #d2d098 !important;
}

/*.ground__dialog__input .task-pag
{
    left: 70%;
    position: fixed;
    bottom: 4%;
}*/

/*---------------------------------------------------------------------DIALOGUE END-----------------------------------------------------------*/

/*---------------------------------------------------------------------OPERATOR BEGIN-----------------------------------------------------------*/

.ground__profile
{
    background-color: #d6e9c6;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
    left: 10px;
    min-height: 300px;
    position: relative;
    text-align: center;
    width: 100%;
}

/*.ground__history-block
{
    position: fixed;
    width: inherit;
}*/

.ground__history-block__take-task-btn
{
    position: relative;
    text-align: center;
    width: 100%;
}

#subsystems_task_forms_AssignSelfTaskForm .form_submit_button
{
    width: 100%;
}

/*---------------------------------------------------------------------OPERATOR END-----------------------------------------------------------*/

/*---------------------------------------------------------------------ADMIN BEGIN-----------------------------------------------------------*/

.ground__new-operator-btn
{
    text-align: center;
    top: 150px;
    width: inherit;
}

.ground__new-operator-btn .btn
{
    width: 100% !important;
}

/*---------------------------------------------------------------------ADMIN END-----------------------------------------------------------*/

/*---------------------------------------------------------------------FAQ BEGIN-----------------------------------------------------------*/

.ground__title
{
    font-size: x-large;
    margin-bottom: 50px;
    text-align: center;
    width: inherit;
}

.ground__q__title
{
    font-size: 15pt;
    color: #ff910a;
    display: inline;
}

.ground__a__title
{
    font-size: 15pt;
    color: #7784e6;
    display: inline;
}

.ground__q__text
{
    font-size: 12pt;
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}

.ground__a__text
{
    font-size: 12pt;
    font-weight: bold;
    display: inline;
    margin-left: 22px;
}

/*---------------------------------------------------------------------FAQ END-----------------------------------------------------------*/

/*--------------------------------------------------------------HISTORY_PAGE BEGIN-----------------------------------------------------------*/

.task100500
{
	border: 1px solid #b0e2ff;
	border-radius: 10px;
	padding-bottom: 17px;
}

/*--------------------------------------------------------------HISTORY_PAGE END-----------------------------------------------------------*/



/*--------------------------------------------------------------BOOTSTRAP CHANGE BEGIN-----------------------------------------------------------*/

.success
{
    background-color: #dff0d8;
}

.warning
{
    background-color: #fcf8e3;
}

.info
{
    background-color: #d9edf7;
}

.danger
{
    background-color: #f2dede;
}
/*---------------------------------------------------------------------BOOTSTRAP CHANGE END-----------------------------------------------------------*/