{% extends "forms/form.html" %}

<script>
{% block add_script %}
    on.e_ctrl_enter = true;

    f_success = function (data, textStatus, jqXHR, form) {
        var prototype = $(".ground__dialog__msgs__prototype");
        var newEl = prototype.clone();

        newEl.removeClass("ground__dialog__msgs__prototype");
        newEl.css("display", "block");
        newEl.find(".ground__dialog__msgs__text").before(data[GIN.AjaxResponseKeys.CREATION_DATA]);
        newEl.find(".ground__dialog__msgs__info__time").html(data[GIN.AjaxResponseKeys.CREATION_DATE]);
        $(".ground__dialog__msgs").append(newEl);

        form.find(".text").val("");
    };
{% endblock %}
</script>