<form id="{{ form.get_form_id }}" class="{{ form.get_form_class }} form-horizontal">
    {% csrf_token %}

    <div class="__all___success">

    </div>
    <div class="__all___error form_error form_error_center">

    </div>

    <div>
        {% for field in form %}
            <div class="control-group">
                <div class="control-label">{{ field.label_tag }}</div>
                <div class="controls">{{ field }}</div>
                <div class="{{ field.name }}_error form_error controls"></div>
            </div>
        {% endfor %}
    </div>

    <input type="submit" class="form_submit_button {{ form.get_submit_button_class }} btn btn-info" value="{{ form.get_submit_button_title }}">
</form>

<script>
    var     form_id = "{{ form.get_form_id }}",
            method = "{{ form.get_action_method }}",
            url = "{% url form.get_action_url_name %}",
            on_ctrl_enter = {{ form.get_on_ctrl_enter }},
            f_success,
            f_error;

    {% block add_script %}{% endblock %}

    GIN.RegForm(form_id, method, url, on_ctrl_enter, f_success, f_error);
</script>