{% extends "base.html" %}

{% block content %}

    <div class="ground">
        <div class="ground__profile">
            Профиль </br>

            Какая-то инфа </br>

            Блаблабла </br>

            Photo </br>
        </div>

        <div class="ground__history-block">
            <div class="ground__history-block__take-task-btn">
                {% include "forms/task/assign_self_task.html" with form=assign_self_task_form %}
             </div>

            {% include "blocks/history.html" %}
        </div>
    </div>

{% endblock %}