{% extends "base.html" %}

{% block content %}
    <div class="ground">
        <div class="ground__dialog">
            <div class="ground__dialog__msgs">
                <div class="ground__dialog__msgs__prototype dialog__msgright bg-warning" style="display: none;">
                    <span class="ground__dialog__msgs__text"></span>
                    <div class="ground__dialog__msgs__info">
                        <div class="ground__dialog__msgs__info__time"></div>
                    </div>
                </div>

                {% for msg in messages %}
                    <div class="{{ msg.class }}">
                        <span class="ground__dialog__msgs__text">{{ msg.text }}</span>
                        <div class="ground__dialog__msgs__info">
                            <div class="ground__dialog__msgs__info__time">{{ msg.date }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include "history.html" %}

        <div class="ground__dialog__input">
            {% if is_operator %}
                <!--Да, тут нет структуры и не будет!!!-->
                <div class="btn-price">
                    <a href="#price" data-toggle="modal" data-target="#price" class="js-a-ololo">
                        <div class="btn btn-warning">Выставить счёт</div>
                    </a>
                    <div class="btn btn-warning js-set_price_out" style="display: none"></div>
                </div>
            {% else %}
                {% if set_price_form.price_count.value > 0 %}
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_xclick" />
                        <input type="hidden" name="bn" value="Gin-BuyNow_gingin_RU" />
                        <input type="hidden" name="business" value="kgfq@mail.ru" />
                        <input type="hidden" name="item_name" value="{{ set_price_form.price_title.value }}" />
                        <input type="hidden" name="currency_code" value="RUB" />
                        <input type="hidden" name="amount" value="{{ set_price_form.price_count.value }}" />
                        <input type="hidden" name="no_shipping" value="1">
                        <input type="hidden" name="custom" value="custom-field" />
                        <button type="submit" class="btn btn-warning btn-pay">Оплатить</button>
                    </form>
                {% endif %}
            {% endif %}

            {% include "forms/task/create_task_message.html" with form=add_message_form %}

            {% include "utils/task_paginator.html" %}
        </div>
    </div>

    <div class="modal fade price-modal" id="price" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Закрыть</span>
                    </button>
                </div>

                {% if is_operator %}
                    <div class="modal-body">
                        {% include "forms/set_price_form.html" with form=set_price_form %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                    $('html,body').scrollTop($(document).height());
                }, 100);
        });
    </script>
{% endblock %}