<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/gin.css" />
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap3/css/bootstrap.min.css" />
    <!--link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui.structure.min.css" /-->
    <script type="text/javascript" src="../../static/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="../../static/bootstrap3/js/bootstrap.min.js"></script>
    <!--script type="text/javascript" src="/static/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-cookie.js"></script-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>Джин</title>
</head>

<body>
	<div class="header-dialog">
		<div class="header-dialog__title">Джин</div>
		<div class="header-dialog__menu">
			
		</div>
	</div>

	<div class="dialog">
		<div class="dialog__msgbefore"><a>Показать предыдущие сообщения</a></div>

		<div class="dialog__msg">
			<div class="dialog__msgleft bg-success">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
				Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
				Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
				<div class="msg__infofull">
					<div class="msg__autor">Вы</div>, 
					<div class="msg__time">28.02.2015 19:24</div>
				</div>
			</div>

			<div class="dialog__msgright bg-warning">
				Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
				<div class="msg__infofullbig">
					<div class="msg__autor">Оператор</div>, 
					<div class="msg__time">28.02.2015 19:56</div>
				</div>
			</div>

			<div class="dialog__msgleft bg-success">
				В западной традиции рыбой выступает фрагмент латинского текста из философского трактата Цицерона «О пределах добра и зла», написанного в 45 году до нашей эры. Впервые этот текст был применен для набора шрифтовых образцов неизвестным печатником еще в XVI веке.
				<div class="msg__infofull">
					<div class="msg__autor">Вы</div>, 
					<div class="msg__time">28.02.2015 21:40</div>
				</div>
			</div>

			<div class="dialog__msgright bg-warning">
				Сегодня этот текст используют практически все дизайнеры, набирающие рыбу латиницей. 
				Абзац считается каноническим во всех справочниках по типографике и предлагается к использованию в статьях, посвященных изготовлению макета верстки при отсутствии финальных текстов. 
				В руководствах по работе с фирменным стилем крупных международных компаний именно с этих слов начинаются образцы верстки. 
				Существуют даже издания с названием Lorem ipsum.
				<div class="msg__infobig">
					<div class="msg__autor">Оператор</div>, 
					<div class="msg__time">08:04</div>
				</div>
			</div>

			<div class="dialog__msgleft bg-success">
				Впрочем, этот текст безнадежно далек от оригинала. Он даже уже не родственник 32 абзаца первой книги цицероновского трактата:
				<div class="msg__info">
					<div class="msg__autor">Вы</div>, 
					<div class="msg__time">10:16</div>
				</div>
			</div>

			<div class="dialog__msgright bg-warning">
				Интересно узнать, в какой момент слова из середины предложения (dolorem ipsum) стали началом традиционного типографского абзаца (Lorem ipsum). 07 Желающим использовать в своей верстке именно неправильный вариант следует убедиться, что в нем нет ничего непристойного — за годы модификации этого рыбного текста многие шутники чего только не повписывали туда. 08 Все-таки, lingua latina non penis canina est.
				<div class="msg__infobig">
					<div class="msg__autor">Оператор</div>, 
					<div class="msg__time">18:50</div>
				</div>
			</div>
		</div>

		
		<textarea class="form-control" rows="2"></textarea>

		<button type="button" class="btn btn-info">Отправить</button>

	</div>

		<div class="dialog__input">

		</div>
</body>

</html>