<!DOCTYPE html>

<html lang="en">
<head>
    {% load static from staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap2/css/bootstrap.min.css" %}" />
    <script type="text/javascript" src="{% static "jquery/jquery-1.11.2.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap2/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <title>Джин</title>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand bb-link" href="/">
                    Джин
                </a>

                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="{% url "view_index" %}" class="header__elem__index b-link {% if current_view_name == "view_index" %}header__elem__current{% endif %}">Главная</a></li>
                    <li><a href="{% url "view_faq" %}" class="header__elem__faq b-link {% if current_view_name == "view_faq" %}header__elem__current{% endif %}">FAQ</a></li>
                    <li class="divider-vertical"></li>
                </ul>

                <ul class="nav pull-right nav-btns">
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="#signin" data-toggle="modal">
                                <div class="btn btn-primary">Войти</div>
                            </a>
                        </li>

                        <li>
                            <a href="#signup" data-toggle="modal">
                                <div class="btn btn-primary">Зарегистрироваться</div>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href={% url "view_logout" %}>
                                <div class="btn btn-primary">Выйти</div>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
         <div class="modal hide fade signup-modal" id="signup" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                     х
                </button>
             </div>

             <div class="modal-body">
                 {% include "forms/user/signup.html" with form=signup_form %}
             </div>
         </div>

        <div class="modal hide fade signin-modal" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    х
                </button>
            </div>

            <div class="modal-body">
                <div class="signin__form__show">
                    {% include "forms/user/signin.html" with form=signin_form %}
                    <a href="#" class="href-restore">Восстановить пароль</a>
                </div>
                <div class="restore__password__form__show" style="display: none;">
                    {% include "forms/user/restore_password_request.html" with form=restore_password_request_form %}
                    <a href="#" class="href-signin">Войти</a>
                </div>
                <script>
                    $(".signin__form__show a").on("click", function () {
                        $(".signin__form__show").hide();
                        $(".restore__password__form__show").show();
                    });
                    $(".restore__password__form__show a").on("click", function () {
                        $(".signin__form__show").show();
                        $(".restore__password__form__show").hide();
                    });
                </script>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid ground">
        {% block content %}{% endblock %}
    </div>
</body>

</html>