{% extends "base.html" %}

{% block content %}
	<div class="dialog">
		<!--div class="dialog__msgbefore"><a>Показать предыдущие сообщения</a></div-->

		<div class="dialog__msg">
			<div class="dialog__msg__prototype" style="display: none;">
                <div class="msg__info">
					<div class="msg__autor"></div>,
					<div class="msg__time"></div>
				</div>
			</div>
        </div>
	</div>

    <div class="dialog__input">
        {% if is_operator %}
            <div class="btn-price">
                {% if price > 0 %}
                    <div class="btn btn-warning js-set_price_out">{{ price }} P</div>
                {% else %}
                    <a href="#price" data-toggle="modal" data-target="#price" class="js-a-ololo">
                        <div class="btn btn-warning">Выставить счёт</div>
                    </a>
                    <div class="btn btn-warning js-set_price_out" style="display: none"></div>
                {% endif %}
            </div>
        {% else %}
            {% if price > 0 %}
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="bn" value="Gin-BuyNow_gingin_RU" />
                    <input type="hidden" name="business" value="kgfq@mail.ru" />
                    <input type="hidden" name="item_name" value="gingingin" />
                    <input type="hidden" name="currency_code" value="RUB" />
                    <input type="hidden" name="amount" value="{{ price }}" />
                    <input type="hidden" name="no_shipping" value="1">
                    <input type="hidden" name="custom" value="OLOLO" />
                    <button type="submit" class="btn btn-warning btn-pay">Оплатить</button>
                </form>
            {% endif %}
        {% endif %}

        {% include "send_message_form.html" %}
    </div>

    <div class="modal fade price-modal" id="price" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="warning-msg text-danger" style="display: none;">
                        Ой-ой-ой. Где-то закралась ошибка.
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Закрыть</span>
                    </button>
                </div>

                <div class="modal-body">
                    {% include "price_form.html" %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            GIN.Dialog = (function () {
                var _page = 0;

                var downloadMessagesPage = function (task_id) {
                    var getArgs =
                            "?task_id=" + task_id +
                            "&page=" + _page;
                    $.ajax({
                        method: "GET",
                        url: "/ajax/get_messages" + getArgs,
                        success: function(data, textStatus, jqXHR) {
                            var err = GIN.AjaxErrors.get_error(data);
                            if (err == GIN.AjaxErrors.NONE) {
                                _page = data.page + 1;
                                var prototype = $(".dialog__msg__prototype");
                                var count = parseInt(data.messages_count, 10);
                                for (var i = 0; i < count; ++i) {
                                    var msg = data.messages[i];
                                    var newEl = prototype.clone();

                                    newEl.removeClass("dialog__msg__prototype");
                                    newEl.addClass(msg.is_operator ? "dialog__msgright bg-warning" : "dialog__msgleft bg-success");
                                    newEl.css("display", "block");
                                    newEl.find(".msg__info").before(msg.text);
                                    newEl.find(".msg__autor").html(msg.is_operator ? "Оператор" : "Вы");
                                    newEl.find(".msg__time").html(msg.date);
                                    prototype.after(newEl);
                                }
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {

                        }
                    });
                };

                return {
                    downloadMessagesPage: downloadMessagesPage
                };
            }());

            GIN.Dialog.downloadMessagesPage("{{ task_id }}");
        });
    </script>
{% endblock %}