{% extends "base.html" %}

{% block content %}
    <div class="ground">
        <div class="ground__faq">
            <div>
                <div>
                    <div class="ground__faq__q__title">Вопрос: </div>
                    <div class="ground__faq__q__text">Чему равно пи?</div>
                </div>

                <div>
                    <div class="ground__faq__a__title">Ответ: </div>
                    <div class="ground__faq__a__text">Пи равно 3,14159265</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}