{% extends "base.html" %}

{% block content %}

    <div class="hello">
        <div class="hello__text">
        Приветствие
        </div>

        <div class="hello__btns">
            <div class="hello__btns__signin-btn">
                <a href="#signin" data-toggle="modal" data-target="#signin">
                    <div type="button" class="btn btn-primary">Войти</div>
                </a>
            </div>

            <div class="hello__btns__signup-btn">
                <a href="#signup" data-toggle="modal" data-target="#signup">
                    <div type="button" class="btn btn-primary">Зарегистрироваться</div>
                </a>
            </div>
        </div>
    </div>


    <div class="modal fade signup-modal" id="signup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="warning-msg text-danger" style="display: none;">
                        Ой-ой-ой. Где-то закралась ошибка.
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Закрыть</span>
                    </button>
                </div>

                <div class="modal-body">
                    {% include "forms/signup_form.html" with form=signup_form %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade signin-modal" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="warning-msg text-danger" style="display: none;">
                        Введен неверный пароль или логин. Попробуйте еще раз.
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Закрыть</span>
                    </button>
                </div>

                <div class="modal-body">
                    {% include "forms/signin_form.html" with form=signin_form %}
                    <button type="button" class="btn btn-info">Восстановить пароль</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}