{% if user.is_operator %}
    <div class="ground__history-block__take-task-btn">
        {% include "forms/task/assign_self_task.html" with form=assign_self_task_form %}
    </div>
{% endif %}

<div class="ground__history">
    <div class="ground__history__title">
        <div class="ground__history__title__open">
            <a class="ground__history__title__open__link" style="text-decoration: underline; cursor: pointer;">Открытые</a>
        </div>

        <div class="ground__history__title__close">
            <a class="ground__history__title__close__link" style="cursor: pointer;">Закрытые</a>
        </div>
    </div>

    <div class="ground__history__elems">
        <div class="ground__history__elems__open">
            <a class="ground__history__elems__prototype" style="text-decoration: none; display: none;">
                <div class="ground__history__elems__i info">
                    <div class="ground__history__elems__i__date"></div>
                    <div class="ground__history__elems__i__event"></div>
                </div>
            </a>
            {% for task in last_open_tasks %}
                <a href="{% url 'view_task' task.id %}" style="text-decoration: none;">
                    <div class="ground__history__elems__i">
                        <div class="ground__history__elems__i__date">{{ task.get_date_str }}</div>
                        <div class="ground__history__elems__i__event">{{ task.text }}</div>
                    </div>
                </a>
            {% empty %}
                <div class="ground__history__elems__open__text">
                    Все задачи выполнены
                </div>
            {% endfor %}
        </div>

        <div class="ground__history__elems__close">
            {% for task in last_close_tasks %}
                <a href="{% url 'view_task' task.id %}" style="text-decoration: none;">
                    <div class="ground__history__elems__i">
                        <div class="ground__history__elems__i__date">{{ task.get_date_str }}</div>
                        <div class="ground__history__elems__i__event">{{ task.text }}</div>
                    </div>
                </a>
            {% empty %}
                <div class="ground__history__elems__close__nth">
                    Ничего нет, приходите завтра
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(".ground__history__title__open__link").on("click", function () {
        $(".ground__history__elems__open").show();
        $(".ground__history__elems__close").hide();
        $(".ground__history__title__open__link").css("text-decoration", "underline");
        $(".ground__history__title__close__link").css("text-decoration", "none");
    });
    $(".ground__history__title__close__link").on("click", function () {
        $(".ground__history__elems__close").show();
        $(".ground__history__elems__open").hide();
        $(".ground__history__title__open__link").css("text-decoration", "none");
        $(".ground__history__title__close__link").css("text-decoration", "underline");
    });
</script>