<div class="ground__history">
    <div class="ground__history__title">
        <div class="ground__history__title__open">
            <a class="link ground__history__title__open__link" style="text-decoration: underline;">Открытые</a>
        </div>

        <div class="ground__history__title__close">
            <a class="link ground__history__title__close__link">Закрытые</a>
        </div>
    </div>

    <div class="ground__history__elems">
        <div class="ground__history__elems__open">
            <a class="ground__history__elems__open__prototype" style="text-decoration: none; display: none;">
                <div class="ground__history__elems__open__prototype__elem bg-info">
                    <div class="ground__history__elems__open__prototype__elem__date"></div>
                    <div class="ground__history__elems__open__prototype__elem__event"></div>
                </div>
            </a>
            {% for task in last_open_tasks %}
                <a href="/task/{{ task.id }}" style="text-decoration: none;">
                    <div class="ground__history__elems__open__prototype__elem">
                        <div class="ground__history__elems__open__prototype__elem__date">{{ task.get_date_str }}</div>
                        <div class="ground__history__elems__open__prototype__elem__event">{{ task.text }}</div>
                    </div>
                </a>
            {% empty %}
                Все желания исполнены
            {% endfor %}
        </div>

        <div class="ground__history__elems__close">
            {% for task in last_close_tasks %}
                <a href="/task/{{ task.id }}" style="text-decoration: none;">
                <!--Да, тут повтор, потому что одно и то же!!!-->
                    <div class="ground__history__elems__open__prototype__elem">
                        <div class="ground__history__elems__open__prototype__elem__date">{{ task.get_date_str }}</div>
                        <div class="ground__history__elems__open__prototype__elem__event">{{ task.text }}</div>
                    </div>
                </a>
            {% empty %}
                Ничего нет, приходите завтра
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(".link__open").on("click", function () {
        $(".history__open").show();
        $(".history__close").hide();
        $(".link__open").css("text-decoration", "underline");
        $(".link__close").css("text-decoration", "none");
    });
    $(".link__close").on("click", function () {
        $(".history__close").show();
        $(".history__open").hide();
        $(".link__open").css("text-decoration", "none");
        $(".link__close").css("text-decoration", "underline");
    });
</script>