{% extends "base.html" %}

{% block content %}

    <div class="ground">

        <div class="profile">
            Профиль </br>

            Какая-то инфа </br>

            Блаблабла </br>

            Photo </br>
        </div>

        <div class="history__block">
            <button type="button" class="btn btn-warning get-task-btn js-get_task_button">Получить задание</button>

            {% include "history.html" %}
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $(".js-get_task_button").on("click", function () {
                $.ajax({
                    method: "GET",
                    url: "/ajax/get_task",
                    success: function(data, textStatus, jqXHR) {
                        var err = GIN.AjaxErrors.get_error(data);
                        if (err == GIN.AjaxErrors.NONE) {
                            var prototype = $(".history__elem__prototype");
                            var newEl = prototype.clone();
                            newEl.find(".date").html(data.date);
                            newEl.find(".event").html(data.text);
                            newEl[0].href = "/task?task_id=" + data.task_id;
                            newEl.removeClass("history__elem__prototype");
                            newEl.css("display", "block");
                            prototype.after(newEl);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            });
        });
    </script>

{% endblock %}