{% extends "base.html" %}

{% block content %}
	<div class="dialog">
		<div class="dialog__msg">
            <div class="dialog__msg__prototype" style="display: none;">
                <div class="msg__info">
					<div class="msg__time"></div>
				</div>
			</div>

            {% for msg in messages %}
                <div class="{{ msg.class }}">
                    {{ msg.text }}
                    <div class="msg__info">
                        <div class="msg__time">{{ msg.date }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
	</div>

    {% include "history.html" %}

    <div class="dialog__input" style="top: 200px;">
        {% if is_operator %}
            <div class="btn-price">
                <a href="#price" data-toggle="modal" data-target="#price" class="js-a-ololo">
                    <div class="btn btn-warning">Выставить счёт</div>
                </a>
                <div class="btn btn-warning js-set_price_out" style="display: none"></div>
            </div>
        {% else %}
            {% if set_price_form.price_count.value > 0 %}
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_xclick" />
                    <input type="hidden" name="bn" value="Gin-BuyNow_gingin_RU" />
                    <input type="hidden" name="business" value="kgfq@mail.ru" />
                    <input type="hidden" name="item_name" value="{{ set_price_form.price_title.value }}" />
                    <input type="hidden" name="currency_code" value="RUB" />
                    <input type="hidden" name="amount" value="{{ set_price_form.price_count.value }}" />
                    <input type="hidden" name="no_shipping" value="1">
                    <input type="hidden" name="custom" value="custom-field" />
                    <button type="submit" class="btn btn-warning btn-pay">Оплатить</button>
                </form>
            {% endif %}
        {% endif %}

        {% include "forms/add_message_form.html" with form=add_message_form %}

        {% include "utils/task_paginator.html" %}
    </div>

    <div class="modal fade price-modal" id="price" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="warning-msg text-danger" style="display: none;">
                        Ой-ой-ой. Где-то закралась ошибка.
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Закрыть</span>
                    </button>
                </div>

                <div class="modal-body">
                    {% include "forms/set_price_form.html" with form=set_price_form %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                    $('html,body').scrollTop($(document).height());
                }, 100);
        });
    </script>
{% endblock %}