{% extends "forms/form.html" %}

<script>
{% block add_script %}
    f_success = function (data, textStatus, jqXHR, form) {
        var prototype = $(".ground__task__messages__prototype");
        var newEl = prototype.clone();

        newEl.attr("class", data["class"]);
        newEl.find(".ground__task__messages__text").before(data[GIN.AjaxResponseKeys.CREATION_DATA]);
        newEl.find(".ground__task__messages__info__time").html(data[GIN.AjaxResponseKeys.CREATION_DATE]);
        $(".ground__task__messages").append(newEl);
        newEl.show();

        form.find(".text").val("");
    };
{% endblock %}
</script>